    .header{
        background-color: gray;
    }
    
    .number{
        text-align: right;
    }

    table, th, td {
        border: 1px solid;
        border-spacing: 0;
    }

    table {
        background-color: limegreen;
    }
    
    .red{
        background-color: red;
        text-align: right;
    }

    tr:nth-child(even) {
        background-color: yellow;
    }